@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1a2721;
  --background: #EBEBEB;
}


body {
  color: var(--foreground);
  background: var(--background);
}

/* Ensure this is at the root of your CSS */
:root {
  --font-nimbus: "TAN-NIMBUS", sans-serif;
}

html, body {
  font-family: "Montserrat", var(--font-nimbus), "Marcellus", sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

@layer components {
  .btn-primary {
    @apply bg-black text-white px-6 py-2 rounded-full hover:bg-gray-800 transition-colors;
  }
  
  .btn-secondary {
    @apply border border-black px-6 py-2 rounded-full hover:bg-black hover:text-white transition-colors;
  }
}
